body{
    background: #000;
    overflow: hidden; 
    position: relative; 
    margin: 0;
    padding: 0;
}


.welcome-title{
    margin: 0;
    padding: 0;
    overflow: hidden;           
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;         
  }
  
  .starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    height: 100%;
    pointer-events: none;       
    z-index: -1;                
  }

  .starfield::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.25px;
    height: 1.25px;
    background: transparent;
    box-shadow:
      50px 100px white,
      120px 80px white,
      200px 150px white,
      300px 50px white,
      400px 200px white,
      500px 300px white,
      600px 120px white,
      700px 250px white,
      800px 60px white,
      900px 350px white,
      950px 100px white,
      1200px 250px white,
      1550px 200px white,
      1650px 100px white,
      1750px 80px white,
      1000px 300px white,
      1300px 300px white,
      1350px 100px white,
      1205px 100px white,
      1450px 70px white,
      1100px 150px white,
      50px 300px white,
      150px 350px white,
      250px 50px white,
      350px 250px white,
      450px 150px white,
      550px 80px white,
      650px 320px white,
      750px 200px white,
      850px 140px white,
      950px 400px white,
      1050px 80px white,
      1150px 250px white,
      1250px 180px white,
      1350px 360px white,
      1450px 220px white,
      1550px 100px white,
      1650px 280px white,
      1750px 160px white,
      1850px 300px white;
    animation: sparkle 3s infinite ease-in-out;
  }
  
  
  @keyframes sparkle {
    0%, 100% { opacity: 1.8; }
    50% { opacity: 0.35; }
  }
  
  .welcome-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;           
    color: #fff;
    position: relative;
    
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    
    animation: revealCenter 5s steps(40, end) forwards;
  }
  
  .welcome-title::after {
    content: "";
    position: absolute;
    /* background: #fff;  */
    width: 2px;
    height: 1em;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes revealCenter {
    from {
      clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
  @keyframes blink-caret {
    from, to {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



  .container > * {
    background-color: rgb(96 139 168 / 0.2);
    margin: 150px;
    border-radius: 10px;
    position: relative;

  }

  .container {
    display: flex;
    justify-content: center;
  }


/* @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container > * ::after, .container > * ::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, blue);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }

  .container > * ::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
  } */

.marsButton,
.solarButton {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.marsButton:hover{
  border-color: #A52A2A;      
  box-shadow: 0 0 15px 5px #A52A2A;
}

.solarButton:hover{
    border-color: #FFCC33;      
    box-shadow: 0 0 15px 5px #FFCC33;
}

